.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 500px;
  background-color: var(--bg);
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: var(--shadow);
}

.label {
  display: flex;
  flex-direction: column;
  font-weight: 500;
  color: #374151;
}

.label input {
  margin-top: 0.5rem;
}
